{% extends "admin/base.html" %}

{% block container %}
<div class="uk-container uk-container-expand list-book">
    <div class="uk-section uk-section-secondary uk-light">
        <div class="uk-container">
            <button class="uk-button uk-button-secondary uk-width-1-1">إدارة الأقسام</button>
            <button class="uk-button uk-button-secondary uk-width-1-1">إدارة المواد</button>
            <button class="uk-button uk-button-secondary uk-width-1-1">إدارة الكتب</button>
        </div>
    </div>
</div>
{% endblock %}