{% extends "admin/base.html" %}

{% block navbar %}
<nav class="uk-navbar-container" uk-navbar="mode: click" >
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav menu">
            <li class="uk-parent"><a href="{{ url_for('main.index') }}">الرئيسية</a></li>
            <li><a href="{{ url_for('main.blogs') }}">المدونة</a></li>
        </ul>
    </div>

     <div class="uk-navbar-left menu">
        <ul class="uk-navbar-nav">
            <li class="uk-parent about"><button class="uk-button uk-button-primary"><a href=""></a>حول المشروع</button></li>
        </ul>
    </div>

    <div class="uk-navbar-container menu-toggle" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-slide" href=""></a>
        </div>
    </div>
</nav>
<!-- side nav -->
<div id="offcanvas-slide" uk-offcanvas="flip:true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-text-center">

        <button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>

            <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical uk-nav-parent-icon" uk-nav>
                 <li class="uk-active"><a href="#">الرئيسية</a></li>
                 <li class="uk"><a href="#">المدونة</a></li>
            </ul>

            <div>
                <div class="uk-grid-small uk-child-width-auto uk-flex-inline" uk-grid>
                    <div>
                        <a class="uk-icon-button" href="#" uk-icon="icon: facebook"></a>
                    </div>
                    <div>
                        <a class="uk-icon-button" href="#" uk-icon="icon: twitter"></a>
                    </div>
                 </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block container %}
<div class="uk-section uk-section-muted uk-margin-bottom">
    <div class="uk-container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="uk-alert-danger" uk-alert>
                            <a class="uk-alert-close" uk-close></a>
                            <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form class=" uk-text-left" action="/admin_sbu/login" method="post">
            {{ form.csrf_token }}
            <fieldset class="uk-fieldset">
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                    <div class="uk-alert-danger" uk-alert>
                            <a class="uk-alert-close" uk-close></a>
                            <p>{{ error }}</p>
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="uk-margin">
                    {{form.email(class='uk-input uk-text-left')}}
                </div>
                {% if form.email.errors %}
                    {% for error in form.password.errors %}
                    <div class="uk-alert-danger" uk-alert>
                            <a class="uk-alert-close" uk-close></a>
                            <p>{{ error }}</p>
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="uk-margin">
                    {{form.password(class='uk-input uk-text-left')}}
                </div>
                <div class="uk-margin">
                    <p class="uk-margin"> Remember Me{{form.remember_me(class='uk-checkbox')}}</p>
                </div>
                {{form.submit(class='uk-button uk-button-default uk-width-1-1')}}
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}