{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../../static/css/post.css">
{% endblock %}

{% block purpose_of_project %}
{% endblock %}

{% block container %}
<div class="uk-section uk-section-muted uk-margin-bottom">
    <div class="uk-container">
        <form class=" uk-text-left" method="post">
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    {{form.email(class='uk-input uk-text-left')}}
                </div>
                <div class="uk-margin">
                    {{form.password(class='uk-input uk-text-left')}}
                </div>
                <div class="uk-margin">
                    <p class="uk-margin"> Remember Me{{form.remember_me(class='uk-checkbox')}}</p>
                </div>
                {{form.submit(class='uk-button uk-button-default uk-width-1-1')}}
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}