{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/post.css">
{% endblock %}

{% block purpose_of_project%}
{% endblock %}

{% block container %}
<div class="uk-container uk-container-expand list-book">
    <div class="uk-section uk-section-secondary uk-light">
        <div class="uk-container">
            <ul class="uk-breadcrumb">
                <li><a href="#">الرئيسية</a></li>
            </ul>

            <div class="uk-overflow-auto">
                <table class="uk-table uk-table-striped uk-table-hover">
                    <thead>
                        <tr>
                            <th>أسم الكتاب</th>
                            <th>نوع الكتاب</th>
                            <th>حجم الكتاب</th>
                            <th>رابط التحميل</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for book in books %}
                        <tr>
                            <td>{{ book.name_book }}</td>
                            <td>{{ book.type_of_book }}</td>
                            <td>{{ book.size_of_book }}</td>
                            <td><a href="{{book.url_of_book}}">التحميل</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}