{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/post.css">
{% endblock %}

{% block navbar %}
    <div class="uk-navbar-dropdown">
        <ul class="uk-nav uk-navbar-dropdown-nav">
            {% for depart in departs %}
            <li><a href="{{ url_for('.view_departments_subjects',depart_=depart.code_department) }}">{{ depart.name_department }}</a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block side_navbar %}
<ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical uk-nav-parent-icon" uk-nav>
    <li class="uk-active"><a href="#">الرئيسية</a></li>
    <li class="uk-parent">
        <a href="#">أقسام المواد</a>
        <ul class="uk-nav-sub">
            {% for depart in departs %}
            <li><a href="url_for('.view_departments_subjects',depart_=depart.code_department)">{{ depart.name_department }}</a>
            {% endfor %}
        </ul>
    </li>
</ul>
{% endblock %}

{% block purpose_of_project%}
{% endblock %}

{% block container %}
<div class="uk-container uk-container-expand list-book">
    <div class="uk-section uk-section-secondary uk-light">
        <div class="uk-container">
            <ul class="uk-breadcrumb">
                <li><a href="#">الرئيسية</a></li>
            </ul>

            <div class="uk-overflow-auto">
                <table class="uk-table uk-table-striped uk-table-hover">
                    <thead>
                        <tr>
                            <th>رمز المادة</th>
                            <th>اسم المادة</th>
                            <th>الوحدات</th>
                            <th>المتطلبات</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for subject in subjects %}
                        <tr>
                            <td><a href="{{ url_for('.view_books_of_subject', sub = subject.code_subject) }}">{{ subject.code_subject }}</a></td>
                            <td><a href="{{ url_for('.view_books_of_subject', sub = subject.code_subject) }}">{{ subject.name_subject }}</a></td>
                            <td>{{ subject.units_subject }}</td>
                            <td>{{ subject.prerequisites }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}