{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/post.css">
{% endblock %}

{% block purpose_of_project%}
{% endblock %}

{% block container %}
<div class="uk-container uk-container-expand list-book">
    <div class="uk-section uk-section-secondary uk-light">
        <div class="uk-container">
            <ul class="uk-breadcrumb">
                <li><a href="#">الرئيسية</a></li>
            </ul>

            <div class="uk-overflow-auto">
                <table class="uk-table uk-table-striped uk-table-hover">
                    <thead>
                    <tr>
                        <th>كود القسم</th>
                        <th>القسم</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for depart in departs %}
                    <tr>
                        <td><a href="{{url_for('.view_departments_subjects',depart_=depart.code_department)}}">{{ depart.code_department }}</a></td>
                        <td><a href="{{url_for('.view_departments_subjects',depart_=depart.code_department)}}">{{ depart.name_department }}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}