{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/post.css">
{% endblock %}

{% block purpose_of_project%}
{% endblock %}

{% block container %}
<div class="uk-container uk-container-expand list-book">
    <div class="uk-section uk-section-secondary uk-light">
        <div class="uk-container">
            <ul class="uk-breadcrumb">
                <li><a href="#">الرئيسية</a></li>
            </ul>

            <div class="uk-overflow-auto">
                <table class="uk-table uk-table-striped uk-table-hover">
                    <thead>
                        <tr>
                            <th>رمز المادة</th>
                            <th>اسم المادة</th>
                            <th>الوحدات</th>
                            <th>المتطلبات</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for subject in subjects %}
                        <tr>
                            <td><a href="{{ url_for('.view_books_of_subject', sub = subject.code_subject) }}">{{ subject.code_subject }}</a></td>
                            <td><a href="{{ url_for('.view_books_of_subject', sub = subject.code_subject) }}">{{ subject.name_subject }}</a></td>
                            <td>{{ subject.units_subject }}</td>
                            <td>{{ subject.prerequisites }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}